* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Spartan", sans-serif;
  background-image: url("../images/bg-pattern-top-mobile.svg");
  background-position: top left;
  background-repeat: no-repeat, no-repeat;
  background-size: auto;
}

main {
  padding: 70px 25px 40px 25px;
  max-width: 1440px;
}

.text-stars-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main-text {
  text-align: center;
}

.main-text h1 {
  color: #502050;
  padding-bottom: 25px;
  line-height: 1em;
}

.main-text p {
  font-size: 14px;
  padding-bottom: 30px;
  line-height: 1.5em;
  color: #868686;
  font-weight: 500;
}

.star-reviews-block {
  padding-bottom: 35px;
}

.star-reviews-block .star-icons {
  padding-bottom: 10px;
}

.star-reviews-block .star-icons img {
  margin-right: 4px;
}

.star-reviews-block .star-review {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #f7f2f7;
  margin-bottom: 15px;
  text-align: center;
  padding: 15px 0px;
  border-radius: 10px;
}

.star-reviews-block .star-review p {
  font-size: 14px;
  font-weight: 700;
  color: #502050;
}

.text-reviews-block .text-review {
  background-color: #502050;
  color: white;
  margin-bottom: 30px;
  padding: 40px 30px 30px 30px;
  border-radius: 10px;
}

.text-reviews-block .text-review .img-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 30px;
}

.text-reviews-block .text-review .img-name img {
  border-radius: 50%;
  width: 40px;
  margin-right: 20px;
}

.text-reviews-block .text-review .main-paragraph p {
  letter-spacing: 0.7px;
  line-height: 1.7em;
  font-size: 13px;
  font-weight: 400;
  letter-spacing: 0.5px;
}

.text-reviews-block .text-review .name-block .name {
  padding-bottom: 5px;
  font-weight: 700;
  font-size: 15px;
}

.text-reviews-block .text-review .name-block .verified-buyer {
  font-weight: 400;
  font-size: 12px;
  color: #ee68a4;
}

@media screen and (min-width: 768px) {
  main {
    padding: 100px 100px 40px 100px;
  }
  .text-stars-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .text-stars-container .main-text {
    max-width: 50%;
    text-align: left;
  }
  .text-stars-container .star-reviews-block {
    width: 100%;
  }
  .text-stars-container .star-reviews-block .star-review {
    width: 80%;
  }
  .text-stars-container .star-reviews-block .review-1 {
    margin-right: auto;
  }
  .text-stars-container .star-reviews-block .review-2 {
    margin: 10px auto;
  }
  .text-stars-container .star-reviews-block .review-3 {
    margin-left: auto;
  }
}

@media screen and (min-width: 1024px) {
  .text-stars-container .main-text {
    max-width: 40%;
  }
  .text-stars-container .main-text h1 {
    padding-bottom: 15px;
    font-size: 2.7em;
  }
  .text-reviews-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: 350px;
    margin-bottom: 20px;
  }
  .text-reviews-block .text-review {
    width: 32%;
    max-height: 280px;
  }
  .text-reviews-block .text-review-1 {
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
  .text-reviews-block .text-review-2 {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .text-reviews-block .text-review-3 {
    -ms-flex-item-align: end;
        align-self: flex-end;
  }
  .text-stars-container .star-review {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .text-stars-container .star-review .star-icons {
    padding: 5px 20px;
  }
}

@media screen and (min-width: 1120px) {
  .text-stars-container .main-text {
    max-width: 30%;
  }
  .text-stars-container .main-text p {
    width: 150%;
  }
  .text-stars-container .star-reviews-block {
    width: 50%;
  }
}

@media screen and (min-width: 1440px) {
  .text-stars-container .main-text {
    max-width: 30%;
  }
  .text-stars-container .main-text p {
    width: 140%;
    font-size: 17px;
  }
  .text-reviews-block {
    height: 300px;
  }
}

@media screen and (min-width: 2000px) {
  body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 100vh;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
/*# sourceMappingURL=style.css.map */